.mam {
    margin-top: 50px;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form-group>button {
    margin: 8px 35%
}

#pop {
    display: none;
}

#result {
    display: none;
}